# Dependencies
node_modules/
frontend/node_modules/

# Build output
backend/Api/bin/
backend/Api/obj/
frontend/dist/

# Local environment files
.env
.env.*
frontend/.env
frontend/.env.*
backend/Api/appsettings.Development.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
